<header>
  <div class="sort-section">
    <%=
      select("legislator_sort",
             "option",
             LegislatorsHelper.sort_options,
             { prompt: "Sort by...", selected: "first_name" })
    %>
  </div>

  <h3>All Legislators</h3>
</header>

<% @results.each do |result| %>
  <div><%= render result %></div>
<% end %>
<%= "There are no legislators to show" if @results.empty? %>

<hr />

<div class="pagination"><%= will_paginate @results %></div>
